<div class="center">

<%@users.each do |result|%>

    <a href="/users/<%= result["id"] %>" >
      <%= result["username"] %>
    </a>
<% end %>

<h1>TV Bumble</h1>

</div>

<form action="/search">
  <textarea name="tvshow"></textarea>
  <button>search</button>
</form>


<%@user_shows_results.each do |result|%>

      <% result["image_url"] %>
      <% Show.find(result["show_id"]).image_url %>
      <img src="<%= Show.find(result["show_id"]).image_url %>" alt="tv show poster">
    </a>

<% end %>
