<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TV Bumble</title>
  <link rel='stylesheet' href='../stylesheets/main.css'>
</head>
<body>

<% if logged_in? %>
  <div id="login"><%= current_user.username %></div>
  <form class="main" action="/session" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Logout</button> 
  </form>
<% else %>
  <a href="/login">Login</a>
<% end %>

<form class="main" action="/">
    <input type="submit" value="Home" />
</form>


  <%= yield %>

</body>
</html>