<ul>
<%@search_results.each do |result|%>
  <li>
    <a href="/get/<%= result["show"]["name"] %>" >
      <%= result["show"]["name"] %>  (<%= result["show"]["premiered"] %>)
    </a>
  </li>
<% end %>
</ul>
