<p>Logged in as: <%= current_user.username %></p>
<p>Rate this show: <%= @tvshow["name"] %></p>

<input type="radio" onclick="myFunction()" name="zero" value=0> 0 - Haven't seen it<br>
<input type="radio" onclick="myFunction()" name="one" value=1> 1 - Watched it, didn't love itt<br>
<input type="radio" onclick="myFunction()" name="two" value=2> 2<br>
<input type="radio" onclick="myFunction()" name="three" value=3> 3<br>
<input type="radio" onclick="myFunction()" name="four" value=4> 4<br>
<input type="radio" onclick="myFunction()" name="five" value=5> 5 - Best Show Ever!!!!!<br>