<div class="center">
<%@users.each do |result|%>

    <a href="/users/<%= result["id"] %>" >
      <%= result["username"] %>
    </a>
<% end %>

<h1>Other users' collections</h1>

</div>

<%@user_shows_results.each do |result|%>

      <% result["show_id"] %>
      <% Show.find(result["show_id"]).image_url %>
      <img src="<%= Show.find(result["show_id"]).image_url %>" alt="tv show poster">
    </a>

<% end %>